body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('/Images/images2.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height of the body to the full viewport height */
    margin: 0;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200;
    background: linear-gradient(rgb(2, 247, 26),rgb(7, 164, 13));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .signin-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {

    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width:100%;
    padding:2px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
   
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
